{
  "singleAttributePerLine": true,
  "tabWidth": 2,
  "useTabs": true,
  "semi": true,
  "singleQuote": false,
  "printWidth": 120,
  "trailingComma": "all",
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": false,
  "proseWrap": "always",
  "quoteProps": "consistent",
  "requirePragma": false,
  "importOrder": [
    "^react",
    "<THIRD_PARTY_MODULES>",
    "~content-migrated/(.*)$",
    "^content-migrated/(.*)$",
    "~components/(.*)$",
    "^components/(.*)$",
    "~contexts/(.*)$",
    "^apis/(.*)$",
    "^api-cloud-functions/(.*)$",
    "~utils/(.*)$",
    "^utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true
}